{% extends "base.html" %}
{% block title %}Editar Asignatura — MVC labo2{% endblock %}
{% block content %}
<h1>Editar Asignatura</h1>
<form action="{{ url_for('asignaturas.edit', id=asignatura.asignatura_id) }}" method="POST"
  style="margin-bottom: 20px;">
  <input type="text" name="nombre" value="{{ asignatura.nombre }}" required>
  <select name="profesor_id" required>
    <option value="">Seleccione un profesor</option>
    {% for profe in profesores %}
    <option value="{{ profe.profesor_id }}" {% if profe.id==asignatura.id_profesor %}selected{% endif %}>{{ profe.nombre
      }}
    </option>
    {% endfor %}
  </select>
  <button type="submit">Guardar Cambios</button>
</form>
<a href="{{ url_for('asignaturas.list_') }}">Volver</a>
{% endblock %}