{% extends "base.html" %}
{% block title %}Asignaturas — MVC labo2{% endblock %}
{% block content %}
  <h1>Asignaturas</h1>
  <div style="margin-bottom: 20px;">
      <a href="{{ url_for('asignaturas.auditoria_general') }}" class="btn-general"> Ver Auditoría General </a>
  </div>

  <h3>Agregar nueva asignatura</h3>
  <form action="{{ url_for('asignaturas.add') }}" method="POST" style="margin-bottom: 20px;">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <select name="profesor_id" required>
        <option value="">Seleccione un profesor</option>
        {% for profe in profesores %}
        <option value="{{ profe.id }}">{{ profe.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Agregar</button>
  </form>

  <ul class="list">
    {% for asignatura in asignaturas %}
    <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px; padding: 5px; border: 1px solid #ccc;">
        <span>{{ asignatura.id }} — {{ asignatura.name }} — ID Profesor: {{ asignatura.id_profesor }}</span>
        <span style="margin-left: 20px;">
            <a href="{{ url_for('asignaturas.edit', id=asignatura.id) }}">
                <button type="button">Modificar</button>
            </a>
            <form action="{{ url_for('asignaturas.delete', id=asignatura.id) }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('¿Seguro que deseas borrar esta asignatura?');">Borrar</button>
            </form>
        </span>
    </li>
    {% else %}
    <li class="empty">No hay Asignaturas.</li>
    {% endfor %}
  </ul>
{% endblock %}