{% extends "base.html" %}
{% block content %}
<h1>Auditoria de Asignaturas</h1>
<ul class="list">
  {% for reg in auditoria %}
  <li>
    <b>{{ reg.stamp }}</b> |
    Operación: {{ reg.operation }} |
    Modificado por: {{ reg.userid }} |
    Codigo de Asignatura: {{ reg.asignatura_id }} | Codigo de Profesor: {{ reg.profesor_id }} | Asignatura:
    {{reg.nombre}}
  </li>
  {% else %}
  <li>No hay registros en la auditoría.</li>
  {% endfor %}
</ul>
<a href="{{ url_for('asignaturas.list_') }}">Volver a la lista</a>
{% endblock %}